In [24]:
import pandas as pd
import json

In [25]:
data = pd.DataFrame({'t1' : [1,2,3,4,5],
                     't2' : range(0,5)})
data = data.to_dict()

In [26]:
d = {
    'cor' : 0.95,
    'df' : data,
    'somethign' : 'oubivo'
}

In [27]:
with open('test.json', 'w') as outfile:
    json.dump(d, outfile, sort_keys=True, indent=4)
    # sort_keys, indent are optional and used for pretty-write

In [28]:
with open('test.json') as data_file:    
    t = json.load(data_file)

In [29]:
pd.DataFrame(t['df'])

   t1  t2
0   1   0
1   2   1
2   3   2
3   4   3
4   5   4

In [ ]:
{'time_period':
 'data_split' : 
 'watch_period':
 'react_period':
 'watch_df':
 'react_df':
 'correlation': 0
 'pairs': [(1,2), (4,5)],
 'var_breach' : some amount var has to be greater than based on mean watch_period['price_dif']}

In [ ]:
create config file for some of this?