### Finding time intervals by distance for API data

- The duration of a race is unknown (yet somewhat predictable by distance). 
- For inplay strategies it may be important to act at some given time point during a race. 
- This strategy will be generalised to races with varying race times. 
- Therefore a sensible/consistent approach to dividing races has been applied to find divide races into 'equal thirds'.

In [1]:
# packages
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import numpy as np
import re 
import json
from pathlib import Path, PurePath
import pprint as pp

# configs
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
%matplotlib inline

In [2]:
# loading in sql login credentials

project_dir = Path.cwd().parents[1]
logins_dir = project_dir / 'sql_logins.json'

with open(logins_dir) as f:
    login_dict =  json.load(f)

In [10]:
db_connection_str = f"mysql+pymysql://{login_dict['UID']}:{login_dict['PWD']}@localhost/{login_dict['DB']}"
db_connection = create_engine(db_connection_str)

data = pd.read_sql('''
                 SELECT
                  race_id,
                  distance_yards,
                  race_type,
                  course,
                  winning_time_secs
                 FROM
                  historic_races
                 ORDER BY
                  race_id
                ''',
                con=db_connection)
# db_connection.close()

In [24]:
df = data.copy() # temp : to save having to run query (remove to save memory)
print("Races :", len(df.index))

Races : 204787

In [25]:
df.head()

   race_id  distance_yards race_type   course  winning_time_secs
0       -1          1320.0      Flat  Newbury                0.0
1    11426          3520.0    Hurdle  Tramore              272.7
2    11427          4400.0    Hurdle  Tramore              342.5
3    11428          3520.0    Hurdle  Tramore              295.3
4    11429          4400.0     Chase  Tramore              326.1

In [26]:
df = df.loc[(df['winning_time_secs'] > 1) & (df['winning_time_secs'] < 1200)]

In [27]:
df['distance_furlongs'] = round(df['distance_yards'] / 220).astype(int)

In [28]:
df = df.loc[df['race_type'] != 'Point to Point']

In [29]:
df['race_type'].value_counts()

Flat                  79065
Hurdle                44795
All Weather Flat      40191
Chase                 30978
National Hunt Flat     8055
Name: race_type, dtype: int64

In [30]:
race_type_dict = {'National Hunt Flat': 'NHF',
                  'Flat' : 'Flat',
                  'All Weather Flat': 'Flat',
                  'Chase' : 'Chase',
                  'Hurdle' : 'Hurdle'}
df['race_type'] = df['race_type'].map(race_type_dict)

In [31]:
df['race_type'].value_counts()

Flat      119256
Hurdle     44795
Chase      30978
NHF         8055
Name: race_type, dtype: int64

To find a consistent approach to splitting race times was done via the mean.


The race times can then be categorised in future by looking up distance and applying the given number of seconds to create t_1, t_2 & t_3. 

__NOTE:__

- t_1 = times < t_1 secs
- t_2 = t_1 <= times <= t_2
- t_3 = time >= t_3

In [46]:
# df['distance_furlong']
df_times = df.groupby(['distance_furlongs','race_type', 'course'])['winning_time_secs'].mean().reset_index()
df_times.rename(columns = {'winning_time_secs' : 't_3'}, inplace = True)
df_times['race_length'] = round(df_times['t_3'], 5)
# df_times['t_1'] = round(df_times['t_3'], 5) / 3
# df_times['t_2'] = round(df_times['t_3'], 5) / 3 * 2
df_times = df_times[['distance_furlongs', 'race_type', 'course', 'race_length']] # rearrange colums

In [47]:
df_times

      distance_furlongs race_type       course  race_length
0                     5      Flat        Ascot     61.15019
1                     5      Flat          Ayr     61.03916
2                     5      Flat         Bath     62.71723
3                     5      Flat  Bellewstown     60.63518
4                     5      Flat     Beverley     63.76729
...                 ...       ...          ...          ...
1561                 34     Chase  Punchestown    586.48571
1562                 34     Chase      Taunton    539.25000
1563                 34     Chase    Uttoxeter    556.46250
1564                 35     Chase  Punchestown    582.20000
1565                 36     Chase      Aintree    555.11538

[1566 rows x 4 columns]

In [49]:
df_times.to_csv('inplay_bins.csv', index = False)

In [ ]:
just uset_3 in future and create bins from there. when reading in?

In [93]:
# mydict = df_times.set_index(['distance_furlongs', 'race_type']).to_dict('index')

In [95]:
# pp.pprint(mydict)

In [96]:
# import json
# with open('result.json', 'w') as fp:
#     json.dump(d, fp)